<div class="reservations-show-container">
    <div class="user-view-box">
        <%= form_with model:@reservation do |f| %>
            <table>
                <tr>
                    <th>予約した部屋</th>
                    <td><%= @room_name %></td>                    
                </tr>
                <tr>
                    <th>開始日</th>
                    <td><%= @reservation.start_date.strftime("%Y年%m月%d日") %></td>
                </tr>
                <tr>
                    <th>終了日</th>
                    <td><%= @reservation.end_date.strftime("%Y年%m月%d日")  %></td>
                </tr>
                <tr>
                    <th>合計金額</th>
                    <td><%= @reservation.total_price %>円</td>
                </tr>
            </table>
        <% end %>
    </div>
    <ul>
        <li><%= link_to "予約済みルーム一覧に移動する", reservations_path %></li>
    </ul>
</div>
