<h4>ルーム情報登録</h4>

<%= form_with model:@room do |f| %>

    <div class="row">
        <%= f.label :name, "ルーム名" %>
        <%= f.text_field :name, placeholder: "ルーム名を入力" %>
    </div>

    <div class="row">
        <%= f.label :introduction, "ルーム紹介" %>
        <%= f.text_area :introduction, placeholder: "ルーム説明を入力" %>
    </div>

    <div class="row">
        <%= f.label :price, "料金" %>
        <%= f.text_field :price, placeholder: "一日あたりの料金を入力" %>
    </div>

    <div class="row">
        <%= f.label :address, "住所" %>
        <%= f.text_field :address, placeholder: "住所を入力" %>
    </div>

    <div class="row">
        <%= f.label :image, "ルーム画像" %>
        <%= f.file_field :image %>
    </div>

    <ul>
        <li><%= f.submit "登録" %></li>
    </ul>
<% end %>
